* { box-sizing: border-box; }

body { width: 100%; height: 100%; font-family: 'Raleway', sans-serif; font-weight: lighter; margin: 0;}
a { color: #333; text-decoration: none; }
.title {font-family: 'Dancing Script', cursive; text-align: center; font-weight: lighter; font-size: 50px; margin: 43px 0 0; }
.author {text-align: center; font-weight: lighter;}
.menu { text-align: center; padding: 20px; list-style: none;}
.container { width: 70%; margin: auto;}
.post {width: 50%; margin: auto;}
.post-image { text-align: center;}
.post-title { text-align: center; padding: 10px; font-weight: lighter;}
.post-time { color: #333; text-align: left; padding: 0 30px; }
.post-prev {font-family: 'Roboto', sans-serif; padding: 0 30px; font-size: 14px;}

input, textarea {
  display: block;
  margin: 20px auto;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #7FB3D5;
  padding-left: 5px;
  outline: none;
  width: 50%;
  font-size: 16px;
}

textarea { height: 250px;}

input[type="submit"] {
  cursor: pointer;
  background-color: #2980b9;
  color: #fff;
}

/* Individual Article */
.article-title, .article-date, .article-image { text-align: center; }
.article-content-wrapper { width: 625px; margin: auto; height: auto;}
.article-content { font-family: 'Roboto', sans-serif; font-weight: normal; color: #333; line-height: 30px;}
